<form *ngIf="form" [formGroup]="form">
  <div formGroupName="general">
    <h4 class="is-4 title">
      {{'General'}}
    </h4>
    <app-input class="field"
               type="text"
               formControlName="name"
               [formControl]="form.get('general').get('name')"
               placeholder="Name"
               label="Name"
    ></app-input>

    <app-input class="field"
               fieldType="textarea"
               type="text"
               formControlName="description"
               [formControl]="form.get('general').get('description')"
               placeholder="Description"
               label="Description"
    ></app-input>
  </div>
  <hr/>
  <div formGroupName="location">
    <h4 class="is-4 title">
      {{'Location'}}
    </h4>
    <app-input class="field"
               type="text"
               formControlName="title"
               [formControl]="form.get('location').get('title')"
               placeholder="Title"
               label="Title"
    ></app-input>
    <div class="columns">
      <div class="column">
        <app-input class="field"
                   type="text"
                   formControlName="city"
                   [formControl]="form.get('location').get('city')"
                   placeholder="City"
                   label="City"
        ></app-input>
      </div>
      <div class="column">
        <app-input class="field"
                   type="text"
                   formControlName="address"
                   [formControl]="form.get('location').get('address')"
                   placeholder="Address"
                   label="Address"
        ></app-input>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <app-input class="field"
                   type="text"
                   formControlName="country"
                   [formControl]="form.get('location').get('country')"
                   placeholder="Country"
                   label="Country"
        ></app-input>
      </div>
      <div class="column">
        <app-input class="field"
                   type="text"
                   formControlName="zipCode"
                   [formControl]="form.get('location').get('zipCode')"
                   placeholder="Zip Code"
                   label="Zip Code"
        ></app-input>
      </div>
    </div>

  </div>
</form>
