@import "~bulma";

:host {
  @extend .tag;
}

.hash-tag {
  &__label {
    &:hover {
      color: black;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .icon {
    cursor: pointer;
  }
}
