@import "~bulma";

:host {
  @extend .tag;
  @extend .is-medium;

  &.is-active {
    background-color: #3273dc;
    color: #fff;
  }
}

.hash-tag {
  &__label {
    &:hover {
      color: black;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .icon {
    cursor: pointer;
  }
}
