<section class="hero is-medium is-warning is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white">
        Start volunteering right now!
      </h1>
      <h2 class="subtitle has-text-white">
        Enter your location and GO volunteer
      </h2>
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" placeholder="Your location">
        </div>
        <div class="control">
          <a class="button is-info">
            Search
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
