<form [formGroup]="form"
      (ngSubmit)="onSubmit()"
>
  <h2 class="title">
    Sponsor information
  </h2>
  <app-input class="field"
             formControlName="sponsorName"
             [formControl]="form.get('sponsorName')"
             placeholder="Sponsor name"
             label="Sponsor Name"
             required="true"
  ></app-input>

  <div class="buttons is-grouped is-grouped-right is-right">
    <button class="button is-text"
            type="button"
            (click)="onBack()"
    >
      Back
    </button>
    <button class="button is-primary"
            type="submit"
    >
      {{'Register'}}
    </button>
  </div>
</form>
