<app-generic-modal>
  <form [formGroup]="form">
    <ng-template appModalHeader>
      {{'Sponsor registration form'}}
    </ng-template>
    <ng-template appModalContent>
        <div class="columns">
          <app-input class="field column"
                     formControlName="firstName"
                     [formControl]="form.get('firstName')"
                     placeholder="First name input"
                     label="First Name"
                     required="true"
          ></app-input>

          <app-input class="field column"
                     formControlName="lastName"
                     [formControl]="form.get('lastName')"
                     placeholder="Last name input"
                     label="Last Name"
                     required="true"
          ></app-input>
        </div>
        <app-input class="field"
                   type="email"
                   formControlName="email"
                   [formControl]="form.get('email')"
                   placeholder="Email input"
                   label="Email"
                   required="true"
        ></app-input>

        <app-input class="field"
                   formControlName="postalCode"
                   [formControl]="form.get('postalCode')"
                   placeholder="Postal input"
                   label="Postal Code"
                   required="true"
        ></app-input>
        <app-input class="field"
                   type="password"
                   formControlName="password"
                   [formControl]="form.get('password')"
                   placeholder="Password input"
                   label="Password"
                   required="true"
        ></app-input>
    </ng-template>
    <ng-template appModalFooter>
      <div class="is-flex align-items-center">
        <label class="checkbox mr-4 nowrap">
          <input type="checkbox"
                 formControlName="termsAndConditions">
          I agree to the <a href="#">terms and conditions</a>
        </label>
        <button class="button is-fullwidth is-primary"
                (click)="onSubmit()"
        >
          Register
        </button>
      </div>
    </ng-template>
  </form>
</app-generic-modal>
