<div
  *ngIf="organization"
  class="mb-4"
>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="is-flex justify-content-between align-items-center">
          <div class="is-flex align-items-center">
            <figure
              class="image organization-logo mr-4"
              [style.background-image]="'url('+('https://bulma.io/images/placeholders/1280x960.png')+')'"
            >
            </figure>
            <div>
              <h1 class="title">
                {{organization.name}}
              </h1>
              <h2 class="subtitle">
                {{'Address should be here'}}
              </h2>
            </div>
          </div>
          <div>
            <button
              class="button"
              *ngIf="!isOwner"
              [class.is-primary]="!isUserJoinedOrganization"
              (click)="toggleOrganizationJoin()"
            >
              {{ isUserJoinedOrganization ? 'Leave group' : 'Join organization'}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <hr/>
    <div class="columns">
      <div class="column is-three-fifths">
        <div class="box is-shadowless">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
        <div class="box is-shadowless">
          <div class="is-flex justify-content-between">
            <h4 class="title is-4">
              {{'Events'}} ({{organization.events.length}}):
            </h4>
            <div *ngIf="isOwner">
              <a
                class="icon"
                (click)="onEventAdd()"
              >
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <div>
            <a
              class="box"
              *ngFor="let event of organization.events"
              [routerLink]="['/event', 'details', event._id]"
            >
              <span class="is-6 title">
                {{event.title}}
              </span>
              <p>
                {{event.date | date}}
              </p>
            </a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box is-shadowless">
          <div class="is-flex justify-content-between">
            <h4 class="title is-4">
              {{'Details'}}:
            </h4>
            <div *ngIf="isOwner">
              <span class="icon">
                <i class="fa fa-pencil"></i>
              </span>
            </div>
          </div>
          <span>
            {{'Creator'}}: {{organization.creator.firstName}}
          </span>
          <hr/>
          <span>
            {{'Address'}}: {{organization.location?.address}}
          </span>
        </div>
        <div class="box is-shadowless">
          <div class="is-flex justify-content-between">
            <h4 class="title is-4">
              {{'Members'}} ({{organization.members.length}}):
            </h4>
            <div *ngIf="isOwner">
              <span class="icon">
                <i class="fa fa-plus"></i>
              </span>
            </div>
          </div>
          <ul>
            <li *ngFor="let member of organization.members">
              {{member.firstName}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
