<div class="container" *ngIf="user">
  <h2 class="title is-2">
    {{user.firstName}} {{user.lastName}}
  </h2>
  <hr/>
  <div class="columns">
    <div class="column is-two-fifths">
      <div class="box">
        <h4 class="title is-4">
          {{'Organizations'}}
        </h4>
        <div>
          <a *ngFor="let organization of user.organizations"
             class="is-flex align-items-center"
             [routerLink]="['/organizations', 'details', organization._id]"
          >
            <app-logo [imagePath]="null"
                      [extraClasses]="'small'"
            ></app-logo>
            <span>
              {{organization.name}}
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <app-edit-profile-form [user]="user"></app-edit-profile-form>
    </div>
  </div>
</div>
