<div class="dropdown"
     [ngClass]="extraClasses"
     appDropdown
     [appDropdownIsOpen]="isOpen"
     (dropdownOpen)="onOpen()"
>
  <div class="dropdown-trigger">
    <button class="button"
            aria-haspopup="true"
            aria-controls="dropdown-menu"
            appDropdownToggle
    >
      <span *ngIf="title; else content">
        {{title}}
      </span>
      <ng-template #content>
        <ng-content></ng-content>
      </ng-template>
      <span class="icon is-small">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a class="dropdown-item"
         *ngFor="let item of items"
         (click)="item.action(object)"
      >
        <span *ngIf="item?.icon"
              class="icon"
        >
          <i class="fa" [ngClass]="item?.icon" aria-hidden="true"></i>
        </span>
        {{item.title}}
      </a>
    </div>
  </div>
</div>
