<div class="section">
  <div class="container">
    <div class="columns is-desktop">
      <div class="column is-one-third is-offset-one-third">
        <h3 class="has-text-weight-semibold is-size-3">
          Reset your password
        </h3>
        <form [formGroup]="form"
              (ngSubmit)="onSubmit()"
        >

          <app-input class="field"
                     type="password"
                     formControlName="password"
                     [formControl]="form.get('password')"
                     placeholder="New password"
                     label="New password"
          >
          </app-input>

          <div class="field">
            <div class="control">
              <button class="button is-primary"
                      type="submit">
                {{'Change'}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
