<ng-container *ngIf="!loading; else loader">
  <div class="columns" *ngIf="events.length && groupedEvents.length; else notFound">
    <div class="column is-4-desktop">
      <div class="mb-4" *ngFor="let event of groupedEvents">
        <h4 class="title is-4">
          {{event.title}}
        </h4>
        <div class="list is-hoverable">
          <div class="list-item is-flex align-items-center justify-content-between"
               *ngFor="let activity of event.activities"
          >
            <a (click)="onActivity(activity)">
              {{activity.name}}
            </a>
            <a class="icon"
               [routerLink]="['/event', event._id]"
            >
              <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <app-calendar [events]="events"
                    [viewDate]="viewDate"
                    (eventClick)="onEvent($event)"
      ></app-calendar>
    </div>
  </div>
  <ng-template #notFound>
    {{'No participation found'}}
  </ng-template>
</ng-container>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
