<app-generic-modal>
  <form [formGroup]="form">
    <ng-template appModalHeader>
      {{'Reset password'}}
    </ng-template>
    <ng-template appModalContent>
      <app-input class="field"
                 formControlName="email"
                 [formControl]="form.get('email')"
                 placeholder="Email"
                 label="Email"
      ></app-input>
    </ng-template>
    <ng-template appModalFooter>
      <div class="field is-grouped is-grouped-right">
        <button
          class="button is-primary"
          type="submit"
          (click)="onSubmit()"
        >
          {{'Request'}}
        </button>
        <button
          class="button is-text"
          type="reset"
          (click)="onCancel()"
        >
          {{'Cancel'}}
        </button>
      </div>
    </ng-template>
  </form>
</app-generic-modal>
