@import "./src/assets/scss/responsive";

.hero {
  .input {
    box-shadow: none;
    border: 0;
    padding: 0;
  }

  .box {
    background-color: rgba(255, 255, 255, 0.7);

    @media #{$mobile} {
      flex-flow: column;
    }

    input, select {
      background: transparent;
    }

    &__block {
      padding: 15px;

      &:not(:last-child):not(:nth-last-child(2)) {
        @media #{$desktop} and #{$tablet} {
          border-right: 1px solid lightgray;
        }
      }
    }
  }

  button {
    &.is-fullwidth {
      height: 100%;
      padding: 15px 30px;
      @media #{$desktop} {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      @media #{$mobile} {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
