<div>
  <ng-container *ngIf="!loading; else loader">
    <div class="menu mb-2">
      <h2 class="menu-label">
        {{'Tags'}}
      </h2>
      <div class="menu-list">
        <app-tag class="mr-2 mb-2"
                 *ngFor="let tag of (relatedTags | slice:0:10)"
                 [isActive]="isSelected(selectedTags, tag.label)"
                 (click)="onTagSelect(tag.label)"
                 [tag]="tag"
        ></app-tag>
      </div>
    </div>
    <div class="menu">
      <h2 class="menu-label">
        {{'Organizations'}}
      </h2>
      <ul class="menu-list">
        <li *ngFor="let org of (organizations | slice:0:10)"
            class="mb-2"
        >
          <a class="filter is-flex justify-content-between"
             [class.is-active]="isSelected(selectedOrganizations, org.organizationName)"
             (click)="onOrganizationSelect(org.organizationName)"
          >
            <span>{{org.organizationName}}</span>
            <a class="delete" *ngIf="isSelected(selectedOrganizations, org.organizationName)"></a>
          </a>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
