<form [formGroup]="form"
      (ngSubmit)="onSubmit()"
>
  <h2 class="title">
    General information
  </h2>
  <div class="columns">
    <app-input class="field column"
               formControlName="firstName"
               [formControl]="form.get('firstName')"
               placeholder="First name input"
               label="First Name"
               required="true"
    ></app-input>

    <app-input class="field column"
               formControlName="lastName"
               [formControl]="form.get('lastName')"
               placeholder="Last name input"
               label="Last Name"
               required="true"
    ></app-input>
  </div>
  <app-input class="field"
             type="email"
             formControlName="email"
             [formControl]="form.get('email')"
             placeholder="Email input"
             label="Email"
             required="true"
  ></app-input>

  <app-input class="field"
             formControlName="postalCode"
             [formControl]="form.get('postalCode')"
             placeholder="Postal input"
             label="Postal Code"
             required="true"
  ></app-input>
  <app-input class="field"
             type="password"
             formControlName="password"
             [formControl]="form.get('password')"
             placeholder="Password input"
             label="Password"
             required="true"
  ></app-input>

  <label class="checkbox nowrap">
    <input type="checkbox"
           formControlName="termsAndConditions">
    I agree to the <a href="#">terms and conditions</a>
    <div class="help is-danger"
         *ngIf="form.get('termsAndConditions').invalid &&
         (form.get('termsAndConditions').dirty || form.get('termsAndConditions').touched)"
    >
      <span *ngIf="form.get('termsAndConditions').errors.required">
        {{'Please read terms and conditions, before register'}}
      </span>
    </div>
  </label>
  <div class="buttons is-grouped is-grouped-right is-right">
    <button class="button is-text"
            type="button"
            (click)="onBack()"
    >
      Back
    </button>
    <button class="button is-primary"
            type="submit"
    >
      {{userType === userRole.VOLUNTEER ? 'Register' : 'Continue'}}
    </button>
  </div>
</form>
