<app-generic-modal>
  <ng-template appModalHeader>
    {{'Reward volunteers'}}
  </ng-template>
  <ng-template appModalContent>
    <p>
      reward-volunteers works!
    </p>
  </ng-template>
  <ng-template appModalFooter>
    <div class="is-flex justify-content-end">
      <div>
        <button class="button is-primary"
                type="submit">
          {{'Reward'}}
        </button>
        <button class="button is-text">
          {{'COMMON.CANCEL' | translate}}
        </button>
      </div>
    </div>
  </ng-template>
</app-generic-modal>
