<div class="control">
  <label class="label"
         [for]="label"
  >
    <ng-container *ngIf="label">
      {{label}}<span *ngIf="required">*</span>
    </ng-container>
    <ng-content></ng-content>
  </label>

  <ng-container [ngSwitch]="fieldType">
    <input class="input"
           *ngSwitchCase="'input'"
           [id]="label"
           [type]="type"
           [placeholder]="placeholder"
           [class.is-danger]="isInvalid()"
           [(ngModel)]="value"
    />

    <textarea class="textarea"
              *ngSwitchCase="'textarea'"
              [id]="label"
              [placeholder]="placeholder"
              [class.is-danger]="isInvalid()"
              [(ngModel)]="value"
    ></textarea>
  </ng-container>

  <p class="help is-danger"
     *ngIf="isInvalid()"
  >
    Custom error
  </p>

</div>

