<app-generic-modal>
  <ng-template appModalContent>

    <h2 class="title">
      {{event ? 'Edit event' : 'Create new event'}}
    </h2>
    <hr/>
    <form [formGroup]="form">
      <app-input class="field"
                 type="text"
                 formControlName="title"
                 [formControl]="form.get('title')"
                 placeholder="Title"
                 label="Title"
      ></app-input>

      <app-input class="field"
                 type="text"
                 formControlName="description"
                 fieldType="textarea"
                 [formControl]="form.get('description')"
                 placeholder="Description"
                 label="Description"
      ></app-input>


      <div class="field">
        <div class="control" *ngIf="!image; else imagePreview">
          <div class="file has-name is-fullwidth">
            <label class="file-label">
              <input class="file-input"
                     type="file"
                     (change)="onFileChange($event)"
              >
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
                Screen Shot 2017-07-29 at 15.54.25.png
              </span>
            </label>
          </div>
        </div>
        <ng-template #imagePreview>
          <img class="is-3by4 is-rounded" [src]="image"/>
        </ng-template>
      </div>
      <div class="field is-grouped">
        <app-date-range-picker [dateRange]="event?.date"
                               (dateSelect)="onDateSelect($event)"
        ></app-date-range-picker>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link"
                  type="submit"
                  (click)="onSubmit()"
          >
            Submit
          </button>
        </div>
        <div class="control">
          <button class="button is-text"
                  (click)="onCloseModal()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </ng-template>
</app-generic-modal>
