<app-generic-modal>
  <ng-template appModalHeader>
    {{title}}
  </ng-template>
  <ng-template appModalContent>
    <div *ngIf="message"
         [innerHTML]="message"
    ></div>
  </ng-template>

  <ng-template appModalFooter>
    <div class="is-flex justify-content-end align-items-center">
      <button
        class="button is-text"
        type="reset"
        (click)="onClose()"
      >
        Cancel
      </button>
      <button
        class="button"
        [ngClass]="[options?.cssClasses]"
        type="submit"
        (click)="onConfirm()"
      >
        {{options.submitButtonText}}
      </button>
    </div>
  </ng-template>
</app-generic-modal>
