<form [formGroup]="form"
      (submit)="onSearch()"
      class="is-flex flex-column"
>
  <div class="columns justify-content-end">
    <div class="column is-4">
      <div class="control is-expanded has-icons-left">
        <input placeholder="Search events near you"
               class="input"
               formControlName="query"
               type="text"
        >
        <span class="icon is-left">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
    <div class="column is-4">

      <div class="control is-expanded has-icons-left">
        <input placeholder="Enter location"
               class="input"
               formControlName="location"
               type="text"
        >
        <span class="icon is-left">
          <i class="fa fa-map-marker"></i>
        </span>
      </div>
    </div>
    <div class="column no-grow">
      <div class="control">
        <button class="button is-primary"
                type="submit"
        >
          {{'COMMON.SEARCH' | translate}}
        </button>
      </div>
    </div>
    <div class="column no-grow">
      <div class="control">
        <button class="button is-text"
                type="button"
                (click)="onResetFilters()"
        >
          {{'Reset filters'}}
        </button>
      </div>
    </div>
  </div>
</form>
