<div class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <form [formGroup]="form"
            class="columns"
            (submit)="onSearch()"
      >
        <div class="field is-grouped column is-6">
          <div class="control is-expanded">
            <input placeholder="Search events near you"
                   class="input"
                   formControlName="query"
                   type="text"
            >
          </div>
          <div class="control">
            <button class="button is-primary"
                    type="submit"
            >
              {{'COMMON.SEARCH' | translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
