<div class="tags is-medium" *ngIf="tags && tags.length; else noTags">
  <app-tag *ngFor="let tag of tags"
           [tag]="tag"
           [isTagsEditEnabled]="isTagsEditEnabled"
           (delete)="onDeleteTag($event)"
           (rename)="onRenameTag($event)"
           (create)="onSaveTags($event)"
  ></app-tag>
  <span class="tag is-primary"
        (click)="onAddTag()"
  >
    <span class="icon">
      <i class="fa fa-plus"></i>
    </span>
  </span>
</div>

<ng-template #noTags>
  <div class="is-flex flex-column">
    <span>
      No tags found
    </span>
    <button class="button is-text"
            *ngIf="user?.role === userRoles.ORGANIZATION"
            (click)="onAddTag()"
    >
      {{'Add new tag'}}
    </button>
  </div>
</ng-template>
