<div class="section">
  <div class="container">
    <div class="is-flex-desktop">
      <h1 class="title mr-4">
        Organizations
      </h1>
      <app-organization-search-panel class="is-block auto-grow"></app-organization-search-panel>
    </div>
    <hr/>
    <ng-container *ngIf="!loading; else loader">
      <div class="columns is-multiline" *ngIf="organizations.length; else notFound">
        <div class="column is-one-quarter-desktop is-one-third-tablet"
             *ngFor="let organization of organizations"
        >
          <app-organization-list-card [organization]="organization"></app-organization-list-card>
        </div>
      </div>
      <app-pagination *ngIf="!loading && organizations.length"
                      [totalCount]="totalCount"
                      [type]="'ROUTE'"
      ></app-pagination>
      <ng-template #notFound>
        {{'Organization not found!'}}
      </ng-template>
    </ng-container>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>
